body{
 body{
 background-color: #CCE8CC
}
nav{
  list-style-type:none;
  background-color: #82ABA1;
  width: 100%;
  length: 50%;
  position: fixed;
  top: 0;
  left:0;
  }
li{
  display: inline;
  padding: 13px;
  float: right;
}
li:hover{
  background-color: gold;
}
a{
  text-decoration:none;
  color: white;
  letter-spacing: 3px;
}
h1 {color: white}
img: { width:250px;
border: solid black 2px;
} 
}
